<div class="container-fluid">
    <div class="row">
        <nav id="mainMenu" class="navbar navbar-inverse navbar-static-top">
            <ul class="nav navbar-nav">
                <li>
                    <a class="navbar-brand" href="#">
                        SMS
                    </a>
                </li>

            </ul>

        </nav>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <article class="col-md-9">


            <section >
                <figure>
                    <img class="center-block img-responsive" src="../../resources/school_logo1.jpg" class="img-responsive" width="50%" height="70%" >

                </figure>



            </section>
        </article>

        <div class="col-md-3">
            <div class="panel panel-login">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-12">
                            <a href="#" class="active" id="login-form-link">Login</a>
                        </div>
                    </div>
                    <!-- </div> -->
                    <hr>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="displayedForm"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="views/js/login.js"></script>